<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>LandslideProneArea</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='lpa3.css')}}">
</head>
<ul>
	   <li> <a href="home.html"> Home </a> </li>
        <li> <a href="about.html"> About </a> </li>
       <li> <a href="contact.html"> Contacts</a> </li>
     <li> <a href="main.html"> Back</a> </li>
</ul>
<div class="p">
		<div class="section"><h2>ALANGALANG FLOOD PRONE AREAS</h2></div>
</div>

        <div class = "main">
        <img class="logo" src="https://i.nona.net/locmap_ALANGALANG_124.6786667X11.0861111X125.0146667X11.3261111.png" width="1500" height="400">
       	</div>
<>
<div class="container">
	 <div class="artist"><h3>*SALVACION FARM</h3></div>
    <div class="artist"><h3>*SAN ANTONIO FARM</h3></div>
    <div class="artist"><h3>*SAN PEDRO</h3></div></div>
>
<div class="container">
    <div class="artist"><h3>*SAN DIEGO</h3></div>
   <div class="artist"><h3>*MAGSAYSAY</h3></div>
   <div class="artist"><h3>*CALAASAN</h3></div></div>

<div class="container">
    <div class="artist"><h3>*BARANTES</h3></div>
   <div class="artist"><h3>*MUDBORON</h3></div>
   <div class="artist"><h3>*LANGIT</h3></div></div>

<div class="container">
   <div class="artist"><h3>*CAPILIHAN</h3></div>
   <div class="artist"><h3>*IKIRAN</h3></div></div>

</html>