<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>HAZZRD MAP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hm2.css')}}">
</head>
<ul>
	   <li> <a href="home.html"> Home </a> </li>
        <li> <a href="about.html"> About </a> </li>
       <li> <a href="contact.html"> Contacts</a> </li>
     <li> <a href="main.html"> Back</a> </li>
</ul>
    <div class="p">
		<div class="section"><h2>ALANGALANG CONTOUR MAP</h2></div>
        </div>
        <div class = "main">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-II-4-GAPAS-CTOUR.jpg" width="500" height="500">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-II-3-CALAASAN-CTOUR.jpg" width="500" height="500">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-I-23-BUGHO-CTOUR.jpg" width="500" height="500">
	</div>

    <div class="p">
        <div class="section"><h2>ALANGALANG HILLSHADE MAP</h2></div>
           </div>
        <div class = "main">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-II-3-CALAASAN-HS.jpg" width="500" height="500">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-I-23-BUGHO-HS.jpg" width="500" height="500">
        <img class="logo" src="https://region8.mgb.gov.ph/images/geology/Geo-Hazard-Maps/Leyte/ALANG-ALANG/3923-II-4-GAPAS-HS.jpg" width="500" height="500">
	    </div>


</html>