<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>LandslideProneArea</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='lpa3.css')}}">
</head>
<ul>
	   <li> <a href="home.html"> Home </a> </li>
        <li> <a href="about.html"> About </a> </li>
       <li> <a href="contact.html"> Contacts</a> </li>
     <li> <a href="main.html"> Back</a> </li>
</ul>
<div class="p">
		<div class="section"><h2>ALANGALANG LANDSLIDE PRONE AREAS</h2></div>
</div>

        <div class = "main">
        <img class="logo" src="https://i.nona.net/locmap_ALANGALANG_124.6786667X11.0861111X125.0146667X11.3261111.png" width="1500" height="400">
       	</div>
<body>
<div class="container">
	 <div class="artist"><P><h3>*DIVISORIA</h3></P></div>
    <div class="artist"><P><h3>*SAN ISIDRO</h3></P></div>
    <div class="artist"><P><h3>*VETERANOS</h3></P></div>
</div>

</body>
</html>